Debug/Config.o
Debug/Directory.o
Debug/emeocv.log
Debug/main.o
Debug/Plausi.o
Debug/RRDatabase.o
Debug/ImageProcessor.o
Debug/KNearestOcr.o
Debug/ImageInput.o
Debug/emeocv
Debug/config.yml
Debug/DebugOutput.o
Debug/ImageProcessor.o
Debug/KNearestOcr.o
